.header_carousel{
    width: 100%;
}


.div1{
      width: 100%;
    height: 650px;
    background-image: url("../Files/Sl1.jpg");
    background-size: cover;
    align-items: center;

}

.div2{
    width: 100%;
    height: 650px;
    background-image: url("../Files/Sl2.jpg");
    background-size: cover;
}

.div3{
    width: 100%;
    height: 650px;
    background-image: url("../Files/Sl3.jpg");
    background-size: cover;
}

.slider_info{
    width: 70%;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 14%;
}

 .slider_img{
    width: 10%;
}

 .slider_text{
     color: antiquewhite;
 }

 .slider_bottom{
     width: 70%;
     height: 30px;
     position: absolute;
     bottom: 15%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     font-size: 15px;
     left: 15%;
 }

.slider_bottom p{
    color: antiquewhite;
    background-color: darkcyan;
    padding: 5px 20px;
}

.slider_bottom span{
    font-size: 16px;
    color: antiquewhite;
}


@media only screen and (min-width: 320px) and (max-width: 599px) {


    .slider_info{
        width: 70%;
        text-align: center;
        position: absolute;
        top: 20%;
        left: 14%;
    }

    .slider_img{
        width: 30%;
    }

    .slider_bottom{
        width: 62%;
        height: 30px;
        position: absolute;
        bottom: 20%;
        display: unset;
        align-items: center;
        justify-content: space-between;
        font-size: 15px;
        left: 20%;
    }

    .slider_bottom p{
        color: antiquewhite;
        background-color: darkcyan;
        padding: 5px 20px;
        text-align: center;
    }

    .slider_bottom span{
        font-size: 16px;
        color: antiquewhite;
    }

}
